<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidyakunj.app">

    <application
        android:label="Vidyakunj"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- REQUIRED: This tells Flutter to use Android V2 embedding -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>

    </application>

</manifest>
